USE [FoodieDB]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderDetails]    Script Date: 22/4/2025 3:14:59 pm ******/
CREATE TYPE [dbo].[OrderDetails] AS TABLE(
	[OrderNo] [varchar](max) NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UserId] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentId] [int] NULL,
	[OrderDate] [datetime] NULL
)
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](max) NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UserId] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentId] [int] NULL,
	[OrderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[CardNo] [nvarchar](150) NULL,
	[ExpiryDate] [nvarchar](150) NULL,
	[CvvNo] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[PaymentMode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Username] [nvarchar](150) NULL,
	[Mobile] [nvarchar](12) NULL,
	[Email] [nvarchar](150) NULL,
	[Address] [nvarchar](max) NULL,
	[PostCode] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([CartId], [ProductId], [Quantity], [UserId]) VALUES (92, 7, 1, 18)
INSERT [dbo].[Carts] ([CartId], [ProductId], [Quantity], [UserId]) VALUES (102, 11, 1, 7)
INSERT [dbo].[Carts] ([CartId], [ProductId], [Quantity], [UserId]) VALUES (106, 7, 1, 19)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [ImageUrl], [IsActive], [CreatedDate]) VALUES (1, N'Đồ Uống', N'../Images/Category/de7ddbda-e68e-42cc-a7d3-6c093a41a66e.jpg', 1, CAST(N'2025-02-26T17:51:33.593' AS DateTime))
INSERT [dbo].[Categories] ([CategoryId], [Name], [ImageUrl], [IsActive], [CreatedDate]) VALUES (2, N'Pizza', N'../Images/Category/5433bd57-fcf3-4046-b025-91a6721b6700.png', 1, CAST(N'2025-02-26T19:22:57.350' AS DateTime))
INSERT [dbo].[Categories] ([CategoryId], [Name], [ImageUrl], [IsActive], [CreatedDate]) VALUES (3, N'Gà', N'../Images/Category/ac21874f-2291-41e2-88e5-6ca6f82f767b.jpg', 1, CAST(N'2025-02-26T19:23:12.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactId], [Name], [Email], [Subject], [Message], [CreatedDate]) VALUES (2, N'Upin', N'abc03@gamil.com', N'Wow', N'Chưa đủ độ wow', CAST(N'2025-04-07T11:03:50.453' AS DateTime))
INSERT [dbo].[Contact] ([ContactId], [Name], [Email], [Subject], [Message], [CreatedDate]) VALUES (3, N'ABen', N'abc05@gamil.com', N'Đỉnh', N'Mút trai', CAST(N'2025-04-08T15:57:28.710' AS DateTime))
INSERT [dbo].[Contact] ([ContactId], [Name], [Email], [Subject], [Message], [CreatedDate]) VALUES (4, N'Ipin', N'abc04@gamil.com', N'Yes Sir', N'YES YES YES', CAST(N'2025-04-08T15:57:52.547' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderDetailsId], [OrderNo], [ProductId], [Quantity], [UserId], [Status], [PaymentId], [OrderDate]) VALUES (1, N'551f42f3-f1a8-4525-b5a3-0df574b0414c', 16, 1, 6, N'Đã gửi đi', 6, CAST(N'2025-03-08T15:52:15.467' AS DateTime))
INSERT [dbo].[Orders] ([OrderDetailsId], [OrderNo], [ProductId], [Quantity], [UserId], [Status], [PaymentId], [OrderDate]) VALUES (2, N'f72fec24-1dce-4922-9a42-072ce17ed04a', 18, 1, 6, N'Đã giao', 6, CAST(N'2025-03-08T15:52:16.943' AS DateTime))
INSERT [dbo].[Orders] ([OrderDetailsId], [OrderNo], [ProductId], [Quantity], [UserId], [Status], [PaymentId], [OrderDate]) VALUES (3, N'9926fdeb-a02d-4305-9136-9d3e5930b84b', 17, 1, 6, N'Đã giao', 6, CAST(N'2025-03-08T15:52:18.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [Name], [CardNo], [ExpiryDate], [CvvNo], [Address], [PaymentMode]) VALUES (6, N'HUYNHGIABAO', N'**************8545', N'12/2024', 231, N'đá adsấdsadsa', N'card')
INSERT [dbo].[Payment] ([PaymentId], [Name], [CardNo], [ExpiryDate], [CvvNo], [Address], [PaymentMode]) VALUES (7, N'LEEMINHONG', N'**************6948', N'12/2028', 357, N'Test', N'card')
INSERT [dbo].[Payment] ([PaymentId], [Name], [CardNo], [ExpiryDate], [CvvNo], [Address], [PaymentMode]) VALUES (8, N'HUYNHQUOCBAO', N'**************5222', N'05/2028', 349, N'Test', N'card')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price], [Quantity], [ImageUrl], [CategoryId], [IsActive], [CreatedDate]) VALUES (5, N'Pizza Chesse', N'Ngon', CAST(75000.00 AS Decimal(18, 2)), 5, N'Images/Product/2627d3df-f839-4444-85f7-5fcb94783b5b.png', 2, 1, CAST(N'2025-02-28T15:38:19.750' AS DateTime))
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price], [Quantity], [ImageUrl], [CategoryId], [IsActive], [CreatedDate]) VALUES (6, N'Pizza 4 Vị', N'To', CAST(80000.00 AS Decimal(18, 2)), 8, N'Images/Product/202fc542-b64c-4e16-a67f-d2f7681a9887.jpg', 2, 1, CAST(N'2025-02-28T15:40:27.023' AS DateTime))
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price], [Quantity], [ImageUrl], [CategoryId], [IsActive], [CreatedDate]) VALUES (7, N'Fanta', N'Mát trai', CAST(20000.00 AS Decimal(18, 2)), 17, N'Images/Product/4c4f9eed-652e-4e4f-9cb6-e4eb3133b41a.jpg', 1, 1, CAST(N'2025-02-28T15:40:59.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Username], [Mobile], [Email], [Address], [PostCode], [Password], [ImageUrl], [CreatedDate]) VALUES (6, N'Hào Gia Buỷnh', N'HuynhBao', N'0868986651', N'abc@gamil.com', N'addas asd as da', N'100121', N'123', N'Images/User/dc8641eb-5cfe-4868-819a-78010ff0b23e.jpg', CAST(N'2025-02-28T15:28:03.230' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Name], [Username], [Mobile], [Email], [Address], [PostCode], [Password], [ImageUrl], [CreatedDate]) VALUES (7, N'Huỳnh Bảo', N'Buynh', N'12345424342', N'abc01@gamil.com', N'sa jdhsaij ghdsaAJ Hsj hsajdhsa', N'526245', N'123', N'Images/User/d7d34d1e-f43e-40fe-9d97-6796fb01724d.jpg', CAST(N'2025-03-02T11:27:33.470' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Name], [Username], [Mobile], [Email], [Address], [PostCode], [Password], [ImageUrl], [CreatedDate]) VALUES (8, N'Bảo Gia Huỳnh', N'Hao', N'1235468795', N'abc02@gamil.com', N'á dá dsa dsad áđá', N'152465', N'123', NULL, CAST(N'2025-03-04T10:00:11.440' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4054DD970]    Script Date: 22/4/2025 3:14:59 pm ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534818561A6]    Script Date: 22/4/2025 3:14:59 pm ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([PaymentId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
/****** Object:  StoredProcedure [dbo].[Cart_Crud]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Cart_Crud]
    @Action VARCHAR(10),
    @ProductId INT = NULL,
    @Quantity INT = NULL,
    @UserId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    --SELECT
    IF @Action = 'SELECT'
		BEGIN
		    SELECT c.ProductId, p.Name, p.ImageUrl, p.Price, c.Quantity,  c.Quantity AS Qty, p.Quantity AS PrdQty
		    FROM dbo.Carts c
		    INNER JOIN dbo.Products p ON p.ProductId = c.ProductId
		    WHERE c.UserId = @UserId
		END

	--INSERT
    IF @Action = 'INSERT'
		BEGIN
		    INSERT INTO dbo.Carts(ProductId,Quantity,UserId)
			VALUES(@ProductId,@Quantity,@UserId)
		END
	--UPDATE
	IF @Action = 'UPDATE'
	    BEGIN
	        UPDATE dbo.Carts
			SET Quantity = @Quantity
	        WHERE ProductId = @ProductId AND UserId = @UserId
	    END
	--DELETE
	IF @Action = 'DELETE'
	    BEGIN
	        DELETE FROM dbo.Carts
	        WHERE ProductId = @ProductId AND UserId = @UserId
	    END
	--GET BY ID (PRODUCTID & USERID)
    IF @Action = 'GETBYID'
		BEGIN
		    SELECT * FROM dbo.Carts 
		    WHERE ProductId = @ProductId AND UserId = @UserId
		END

END
GO
/****** Object:  StoredProcedure [dbo].[Category_Crud]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Category_Crud]
	-- Add the parameters for the stored procedure here
	@Action VARCHAR(10),
	@CategoryId INT = NULL,
	@Name NVARCHAR(100) = NULL,
	@IsActive BIT = false,
	@ImageUrl VARCHAR(MAX) NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--SELECT
	IF @Action = 'SELECT'
		BEGIN
			SELECT * FROM dbo.Categories ORDER BY CreatedDate DESC
		END

		--ACTIVECATEGORY
	IF @Action = 'ACTIVECAT'
		BEGIN
			SELECT * FROM dbo.Categories 
			WHERE IsActive = 1
		END

	--INSERT
	IF @Action = 'INSERT'
		BEGIN
			INSERT INTO dbo.Categories(Name, ImageUrl, IsActive, CreatedDate)
			VALUES (@Name, @ImageUrl, @IsActive, GETDATE())
		END
	--UPDATE
	IF @Action = 'UPDATE'
		BEGIN
			DECLARE @UPDATE_IMAGE VARCHAR(20)
			SELECT @UPDATE_IMAGE = (CASE WHEN @ImageUrl IS NULL THEN 'NO' ELSE 'YES' END)
			IF @UPDATE_IMAGE = 'NO'
				BEGIN
					UPDATE dbo.Categories
					SET Name = @Name,IsActive = @IsActive
					WHERE CategoryId = @CategoryId
				END
			ELSE
				BEGIN
					UPDATE dbo.Categories
					SET Name = @Name,ImageUrl = @ImageUrl, IsActive = @IsActive
					WHERE CategoryId = @CategoryId
				END
		END
	--DELETE
	IF @Action = 'DELETE'
		BEGIN
			DELETE FROM dbo.Categories WHERE CategoryId = @CategoryId
		END
	--GETBYID
	IF @Action = 'GETBYID'
		BEGIN
			SELECT * FROM dbo.Categories WHERE CategoryId = @CategoryId
		END
END
GO
/****** Object:  StoredProcedure [dbo].[ContactSp]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ContactSp]
	@Action NVARCHAR(10),
	@ContactId INT = NULL,
	@Name NVARCHAR(50) = NULL,
	@Email NVARCHAR(50) = NULL,
	@Subject NVARCHAR(200) = NULL,
	@Message NVARCHAR(MAX) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		--INSERT
	IF @Action = 'INSERT'
	BEGIN
		INSERT INTO dbo.Contact(Name, Email, Subject, Message, CreatedDate)
		VALUES (@Name, @Email, @Subject, @Message, GETDATE())
	END

	--SELECT
	IF @Action = 'SELECT'
	BEGIN
		SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS [SrNo], * FROM dbo.Contact
	END

	--DELETE BY ADMIN
	IF @Action = 'DELETE'
	BEGIN
		DELETE FROM dbo.Contact WHERE ContactId = @ContactId
	END    
END
GO
/****** Object:  StoredProcedure [dbo].[Dashboard]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Dashboard]
@Action nvarchar(20) = null
as
begin
	SET NOCOUNT ON;

	-- 1. Categories
	IF @Action = 'CATEGORY'
	BEGIN
		SELECT COUNT(*) FROM dbo.Categories
	END

	-- 2. Products
	IF @Action = 'PRODUCT'
	BEGIN
		SELECT COUNT(*) FROM dbo.Products
	END

	-- 3. Orders
	IF @Action = 'ORDER'
	BEGIN
		SELECT COUNT(*) FROM dbo.Orders
	END

	-- 4. Orders Delivered
	IF @Action = 'DELIVERED'
	BEGIN
		SELECT COUNT(*) FROM dbo.Orders WHERE Status = N'Đã giao'
	END
	-- 5. Orders Pending
	IF @Action = 'PENDING'
	BEGIN
		SELECT COUNT(*) FROM dbo.Orders
		WHERE Status IN (N'Đang xử lý', N'Đã gửi đi')
	END
	-- 6. Orders Cancelled
	IF @Action = 'CANCELLED'
	BEGIN
		SELECT COUNT(*) FROM dbo.Orders WHERE Status = N'Đã hủy đơn'
	END
	-- 7. Users
	IF @Action = 'USER'
	BEGIN
		SELECT COUNT(*) FROM dbo.Users
	END

	-- 8. Sold Item Cost
	IF @Action = 'SOLDAMOUNT'
	BEGIN
		SELECT SUM(o.Quantity * p.Price) FROM Orders o
		INNER JOIN Products p ON p.ProductId = o.ProductId
	END
	-- 9. Contact
	IF @Action = 'CONTACT'
	BEGIN
		SELECT COUNT(*) FROM dbo.Contact
	END
	
end
GO
/****** Object:  StoredProcedure [dbo].[Invoice]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Invoice]
	@Action NVARCHAR(10),  
    @PaymentId INT = NULL,  
    @UserId INT = NULL,  
    @OrderDetailsId INT = NULL,  
    @Status NVARCHAR(50) = NULL  
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	  -- GET INVOICE BY ID  
	IF @Action = 'INVOICBYID'  
	BEGIN  
		SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS [SrNo], o.OrderNo, p.Name, p.Price, o.Quantity,  
		(p.Price * o.Quantity) AS TotalPrice, o.OrderDate, o.Status, pm.PaymentMode, pm.CardNo 
		FROM Orders o  
		INNER JOIN Products p ON p.ProductId = o.ProductId  
		INNER JOIN Payment pm ON pm.PaymentId = o.PaymentId
		WHERE o.PaymentId = @PaymentId AND o.UserId = @UserId  

		-- Hàng tổng với các cột ép kiểu để khớp với bảng chi tiết
        SELECT CAST(NULL AS BIGINT) AS [SrNo], 
               CAST(NULL AS NVARCHAR(50)) AS OrderNo, 
               'Total' AS Name, 
               CAST(NULL AS DECIMAL(18,2)) AS Price, -- Ép kiểu Price thành DECIMAL
               CAST(NULL AS INT) AS Quantity,        -- Ép kiểu Quantity thành INT
               SUM(p.Price * o.Quantity) AS TotalPrice, 
               CAST(NULL AS DATETIME) AS OrderDate,  -- Ép kiểu OrderDate thành DATETIME
               CAST(NULL AS NVARCHAR(50)) AS Status,  -- Ép kiểu Status thành NVARCHAR
			   CAST(NULL AS NVARCHAR(50)) AS PaymentMode, -- Ép kiểu PaymentMode thành NVARCHAR
               CAST(NULL AS NVARCHAR(50)) AS CardNo       -- Ép kiểu CardNo thành NVARCHAR
        FROM Orders o  
        INNER JOIN Products p ON p.ProductId = o.ProductId  
        WHERE o.PaymentId = @PaymentId AND o.UserId = @UserId
	END  

	-- SELECT ORDER HISTORY  
	IF @Action = 'ODRHISTORY'  
	BEGIN  
		SELECT DISTINCT o.PaymentId, p.PaymentMode, p.CardNo  
		FROM Orders o  
		INNER JOIN Payment p ON p.PaymentId = o.PaymentId  
		WHERE o.UserId = @UserId  
	END  

	-- GET ORDER STATUS  
	IF @Action = 'GETSTATUS'  
	BEGIN  
		SELECT o.OrderDetailsId,  
			   o.OrderNo,  
			   (pr.Price * o.Quantity) AS TotalPrice,  
			   o.Status,  
			   o.OrderDate,  
			   p.PaymentMode,  
			   pr.Name FROM Orders o  
		INNER JOIN Payment p ON p.PaymentId = o.PaymentId  
		INNER JOIN Products pr ON pr.ProductId = o.ProductId  
	END  

	-- GET ORDER STATUS BY ID  
	IF @Action = 'STATUSBYID'  
	BEGIN  
		SELECT OrderDetailsId, Status FROM Orders  
		WHERE OrderDetailsId = @OrderDetailsId  
	END  

	-- UPDATE ORDER STATUS  
	IF @Action = 'UPDSTATUS'  
	BEGIN  
		UPDATE dbo.Orders  
		SET Status = @Status WHERE OrderDetailsId = @OrderDetailsId  
	END  

END
GO
/****** Object:  StoredProcedure [dbo].[Product_Crud]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Product_Crud]  
    @Action VARCHAR(20),  
    @ProductId INT = NULL,  
    @Name NVARCHAR(100) = NULL,  
    @Description NVARCHAR(MAX) = NULL,  
    @Price DECIMAL(18,2) = 0,  
    @Quantity INT = NULL,  
    @ImageUrl VARCHAR(MAX) = NULL,  
    @CategoryId INT = NULL,  
    @IsActive BIT = false  
AS  
BEGIN  
    SET NOCOUNT ON;  

    -- SELECT  
    IF @Action = 'SELECT'  
    BEGIN  
        SELECT p.*, c.Name AS CategoryName
        FROM dbo.Products p  
        INNER JOIN dbo.Categories c ON c.CategoryId = p.CategoryId  
        ORDER BY p.CreatedDate DESC;  
    END  

	-- ACTIVEPRODUCT  
    IF @Action = 'ACTIVEPROD'  
    BEGIN  
        SELECT p.*, c.Name AS CategoryName
        FROM dbo.Products p  
        INNER JOIN dbo.Categories c ON c.CategoryId = p.CategoryId  
        WHERE p.IsActive = 1  
    END  

    -- INSERT  
    IF @Action = 'INSERT'  
    BEGIN  
        INSERT INTO dbo.Products(Name, Description, Price, Quantity, ImageUrl, CategoryId, IsActive, CreatedDate)  
        VALUES (@Name, @Description, @Price, @Quantity, @ImageUrl, @CategoryId, @IsActive, GETDATE());  
    END  

    -- UPDATE  
    IF @Action = 'UPDATE'  
    BEGIN  
        DECLARE @UPDATE_IMAGE VARCHAR(20);  
        SELECT @UPDATE_IMAGE = (CASE WHEN @ImageUrl IS NULL THEN 'NO' ELSE 'YES' END);  

        IF @UPDATE_IMAGE = 'NO'
        BEGIN
            UPDATE dbo.Products
            SET Name = @Name, Description = @Description, Price = @Price, Quantity = @Quantity,
                CategoryId = @CategoryId, IsActive = @IsActive
            WHERE ProductId = @ProductId;
        END
        ELSE
        BEGIN
            UPDATE dbo.Products
            SET Name = @Name, Description = @Description, Price = @Price, Quantity = @Quantity,  
                ImageUrl = @ImageUrl, CategoryId = @CategoryId, IsActive = @IsActive  
            WHERE ProductId = @ProductId;  
        END  
    END  -- **Đóng đúng khối UPDATE**

    -- UPDATE QUANTITY  
    IF @Action = 'QTYUPDATE'  
    BEGIN  
        UPDATE dbo.Products SET Quantity = @Quantity  
        WHERE ProductId = @ProductId;  
    END 

    -- DELETE
    IF @Action = 'DELETE'
    BEGIN
        DELETE FROM dbo.Products WHERE ProductId = @ProductId;
    END

    -- GETBYID
    IF @Action = 'GETBYID'
    BEGIN
        SELECT * FROM dbo.Products WHERE ProductId = @ProductId;
    END

END  


GO
/****** Object:  StoredProcedure [dbo].[Save_Orders]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Save_Orders] @tblOrders OrderDetails READONLY  
AS  
BEGIN  
    SET NOCOUNT ON;  

    INSERT INTO Orders (OrderNo, ProductId, Quantity, UserId, Status, PaymentId, OrderDate)  
    SELECT OrderNo, ProductId, Quantity, UserId, Status, PaymentId, OrderDate FROM @tblOrders  
END 
GO
/****** Object:  StoredProcedure [dbo].[Save_Payment]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Save_Payment]  
    @Name NVARCHAR(100) = NULL,  
    @CardNo NVARCHAR(50) = NULL,  
    @ExpiryDate NVARCHAR(50) = NULL,  
    @Cvv INT = NULL,  
    @Address NVARCHAR(MAX) = NULL,  
    @PaymentMode NVARCHAR(10) = 'card',  
    @InsertedId INT OUTPUT  
AS  
BEGIN  
    -- SET NOCOUNT ON added to prevent extra result sets from  
    -- interfering with SELECT statements.  
    SET NOCOUNT ON;  

	-- INSERT  
	BEGIN  
		INSERT INTO dbo.Payment (Name, CardNo, ExpiryDate, CvvNo, Address, PaymentMode)  
		VALUES (@Name, @CardNo, @ExpiryDate, @Cvv, @Address, @PaymentMode);  

		SELECT @InsertedId = SCOPE_IDENTITY();  
	END  


END  
GO
/****** Object:  StoredProcedure [dbo].[SellingReport]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SellingReport]  
    @FromDate Date = null,  
    @ToDate Date = null  
as  
begin  
    SET NOCOUNT ON;  
  
	Select ROW_NUMBER() OVER(ORDER BY MAX(o.OrderDate)) AS [SrNo],u.Name, u.Email,
		SUM(o.Quantity) AS TotalOrders,SUM(o.Quantity * p.Price) AS TotalPrice, 
		CONVERT(varchar, o.OrderDate, 103) AS OrderDateFormatted -- Định dạng ngày/tháng/năm (dd/MM/yyyy)
	From Orders o
	INNER JOIN Products p ON p.ProductId = o.ProductId
	INNER JOIN Users u ON u.UserId = o.UserId
	WHERE CAST(o.OrderDate AS Date) BETWEEN @FromDate AND @ToDate
	GROUP BY u.Name, u.Email, CONVERT(varchar, o.OrderDate, 103) -- Nhóm theo tên, email và ngày
    ORDER BY CONVERT(varchar, o.OrderDate, 103)
end
GO
/****** Object:  StoredProcedure [dbo].[User_Crud]    Script Date: 22/4/2025 3:14:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[User_Crud]
    @Action VARCHAR(20),
    @UserId INT = NULL,
    @Name nvarchar(50) = null,
    @Username nvarchar(50) = null,
    @Mobile nvarchar(50) = null,
    @Email nvarchar(50) = null,
    @Address nvarchar(max) = null,
    @PostCode nvarchar(50) = null,
    @Password nvarchar(50) = null,
    @ImageUrl varchar(max) = null
AS
BEGIN
    SET NOCOUNT ON;

    --SELECT FOR LOGIN
    IF @Action = 'SELECT4LOGIN'
    BEGIN
        SELECT * FROM dbo.Users WHERE Username = @Username and Password = @Password
    END

    --SELECT FOR USER PROFILE
    IF @Action = 'SELECT4PROFILE'
		BEGIN
		    SELECT * FROM dbo.Users WHERE UserId = @UserId
		END

    -- Insert (REGISTRATION)
    IF @Action = 'INSERT'
		BEGIN
		    Insert into dbo.Users (Name, Username, Mobile, Email, Address, PostCode, Password, ImageUrl, CreatedDate)
		    values (@Name, @Username, @Mobile, @Email, @Address, @PostCode, @Password, @ImageUrl, GETDATE())
		END
	--UPDATE USER PROFILE
	IF @Action = 'UPDATE'
		BEGIN
			DECLARE @UPDATE_IMAGE VARCHAR(20)
			SELECT @UPDATE_IMAGE = (CASE WHEN @ImageUrl IS NULL THEN 'NO' ELSE 'YES' END)
			IF @UPDATE_IMAGE = 'NO'
			    BEGIN
			        UPDATE dbo.Users
			        SET Name = @Name, Username = @Username, Mobile = @Mobile, Email = @Email, Address = @Address,
			            PostCode = @PostCode
			        WHERE UserId = @UserId
			    END
			ELSE
				BEGIN
				    UPDATE dbo.Users
				    SET Name = @Name, Username = @Username, Mobile = @Mobile, Email = @Email, Address = @Address,
						PostCode = @PostCode, ImageUrl = @ImageUrl
				    WHERE UserId = @UserId
				END
		END
	-- SELECT FOR ADMIN
	IF @Action = 'SELECT4ADMIN'
	    BEGIN
	        SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS [SrNo], UserId, Name,
	               Username, Password, Email, CreatedDate
	        FROM Users
	    END
	
	-- DELETE BY ADMIN
	IF @Action = 'DELETE'
	    BEGIN
	        DELETE FROM dbo.Users WHERE UserId = @UserId
	    END

END
GO
