USE [FoodieDB]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 28/2/2025 10:55:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 28/2/2025 10:55:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 28/2/2025 10:55:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28/2/2025 10:55:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](max) NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UserId] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentId] [int] NULL,
	[OrderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 28/2/2025 10:55:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[CardNo] [nvarchar](150) NULL,
	[ExpiryDate] [nvarchar](150) NULL,
	[CvvNo] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[PaymentMode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28/2/2025 10:55:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/2/2025 10:55:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Username] [nvarchar](150) NULL,
	[Mobile] [nvarchar](12) NULL,
	[Email] [nvarchar](150) NULL,
	[Address] [nvarchar](max) NULL,
	[PostCode] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [ImageUrl], [IsActive], [CreatedDate]) VALUES (1, N'Nước Uống', N'../Images/Category/de7ddbda-e68e-42cc-a7d3-6c093a41a66e.jpg', 1, CAST(N'2025-02-26T17:51:33.593' AS DateTime))
INSERT [dbo].[Categories] ([CategoryId], [Name], [ImageUrl], [IsActive], [CreatedDate]) VALUES (2, N'Pizza', N'../Images/Category/5433bd57-fcf3-4046-b025-91a6721b6700.png', 0, CAST(N'2025-02-26T19:22:57.350' AS DateTime))
INSERT [dbo].[Categories] ([CategoryId], [Name], [ImageUrl], [IsActive], [CreatedDate]) VALUES (3, N'Gà', N'../Images/Category/4fe29dd5-547f-4ddb-8497-5e08c19a7f04.png', 1, CAST(N'2025-02-26T19:23:12.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price], [Quantity], [ImageUrl], [CategoryId], [IsActive], [CreatedDate]) VALUES (1, N'Pepsi', N'Đã Quá', CAST(25000.00 AS Decimal(18, 2)), 50, N'Images/Product/d6797707-33fb-4b6f-812c-4f80ef5dafd2.png', 1, 1, CAST(N'2025-02-26T17:52:01.190' AS DateTime))
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price], [Quantity], [ImageUrl], [CategoryId], [IsActive], [CreatedDate]) VALUES (2, N'Fanta', N'Fantatic', CAST(25000.00 AS Decimal(18, 2)), 20, N'Images/Product/421b2a96-f0ba-4619-bba2-7df357cd51de.jpg', 1, 1, CAST(N'2025-02-26T19:22:10.587' AS DateTime))
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price], [Quantity], [ImageUrl], [CategoryId], [IsActive], [CreatedDate]) VALUES (3, N'Pizza Thường', N'ngon', CAST(65000.00 AS Decimal(18, 2)), 30, N'Images/Product/e739cbd7-ce6b-48e6-8faa-a693e4d1bd46.png', 2, 1, CAST(N'2025-02-26T19:23:44.983' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Username], [Mobile], [Email], [Address], [PostCode], [Password], [ImageUrl], [CreatedDate]) VALUES (3, N'Hào Gia Buỷnh', N'HuynhBao', N'0868986001', N'abc@gamil.com', N'abc,xyz,áđâsda', N'100120', N'123', N'~/Images/User/1e6684f7-2e3e-4550-8a04-13263e0369c9.jpg', CAST(N'2025-02-28T10:33:28.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4054DD970]    Script Date: 28/2/2025 10:55:33 am ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534818561A6]    Script Date: 28/2/2025 10:55:33 am ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([PaymentId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
/****** Object:  StoredProcedure [dbo].[Category_Crud]    Script Date: 28/2/2025 10:55:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Category_Crud]
	-- Add the parameters for the stored procedure here
	@Action VARCHAR(10),
	@CategoryId INT = NULL,
	@Name NVARCHAR(100) = NULL,
	@IsActive BIT = false,
	@ImageUrl VARCHAR(MAX) NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--SELECT
	IF @Action = 'SELECT'
		BEGIN
			SELECT * FROM dbo.Categories ORDER BY CreatedDate DESC
		END
	--INSERT
	IF @Action = 'INSERT'
		BEGIN
			INSERT INTO dbo.Categories(Name, ImageUrl, IsActive, CreatedDate)
			VALUES (@Name, @ImageUrl, @IsActive, GETDATE())
		END
	--UPDATE
	IF @Action = 'UPDATE'
		BEGIN
			DECLARE @UPDATE_IMAGE VARCHAR(20)
			SELECT @UPDATE_IMAGE = (CASE WHEN @ImageUrl IS NULL THEN 'NO' ELSE 'YES' END)
			IF @UPDATE_IMAGE = 'NO'
				BEGIN
					UPDATE dbo.Categories
					SET Name = @Name,IsActive = @IsActive
					WHERE CategoryId = @CategoryId
				END
			ELSE
				BEGIN
					UPDATE dbo.Categories
					SET Name = @Name,ImageUrl = @ImageUrl, IsActive = @IsActive
					WHERE CategoryId = @CategoryId
				END
		END
	--DELETE
	IF @Action = 'DELETE'
		BEGIN
			DELETE FROM dbo.Categories WHERE CategoryId = @CategoryId
		END
	--GETBYID
	IF @Action = 'GETBYID'
		BEGIN
			SELECT * FROM dbo.Categories WHERE CategoryId = @CategoryId
		END
END
GO
/****** Object:  StoredProcedure [dbo].[Product_Crud]    Script Date: 28/2/2025 10:55:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Product_Crud]  
    @Action VARCHAR(10),  
    @ProductId INT = NULL,  
    @Name NVARCHAR(100) = NULL,  
    @Description NVARCHAR(MAX) = NULL,  
    @Price DECIMAL(18,2) = 0,  
    @Quantity INT = NULL,  
    @ImageUrl VARCHAR(MAX) = NULL,  
    @CategoryId INT = NULL,  
    @IsActive BIT = false  
AS  
BEGIN  
    SET NOCOUNT ON;  

    -- SELECT  
    IF @Action = 'SELECT'  
    BEGIN  
        SELECT p.*, c.Name AS CategoryName
        FROM dbo.Products p  
        INNER JOIN dbo.Categories c ON c.CategoryId = p.CategoryId  
        ORDER BY p.CreatedDate DESC;  
    END  

    -- INSERT  
    IF @Action = 'INSERT'  
    BEGIN  
        INSERT INTO dbo.Products(Name, Description, Price, Quantity, ImageUrl, CategoryId, IsActive, CreatedDate)  
        VALUES (@Name, @Description, @Price, @Quantity, @ImageUrl, @CategoryId, @IsActive, GETDATE());  
    END  

    -- UPDATE  
    IF @Action = 'UPDATE'  
    BEGIN  
        DECLARE @UPDATE_IMAGE VARCHAR(20);  
        SELECT @UPDATE_IMAGE = (CASE WHEN @ImageUrl IS NULL THEN 'NO' ELSE 'YES' END);  

        IF @UPDATE_IMAGE = 'NO'
        BEGIN
            UPDATE dbo.Products
            SET Name = @Name, Description = @Description, Price = @Price, Quantity = @Quantity,
                CategoryId = @CategoryId, IsActive = @IsActive
            WHERE ProductId = @ProductId;
        END
        ELSE
        BEGIN
            UPDATE dbo.Products
            SET Name = @Name, Description = @Description, Price = @Price, Quantity = @Quantity,  
                ImageUrl = @ImageUrl, CategoryId = @CategoryId, IsActive = @IsActive  
            WHERE ProductId = @ProductId;  
        END  
    END  -- **Đóng đúng khối UPDATE**

    -- UPDATE QUANTITY  
    IF @Action = 'QTYUPDATE'  
    BEGIN  
        UPDATE dbo.Products SET Quantity = @Quantity  
        WHERE ProductId = @ProductId;  
    END 

    -- DELETE
    IF @Action = 'DELETE'
    BEGIN
        DELETE FROM dbo.Products WHERE ProductId = @ProductId;
    END

    -- GETBYID
    IF @Action = 'GETBYID'
    BEGIN
        SELECT * FROM dbo.Products WHERE ProductId = @ProductId;
    END

END  
GO
/****** Object:  StoredProcedure [dbo].[User_Crud]    Script Date: 28/2/2025 10:55:33 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[User_Crud]
    @Action VARCHAR(20),
    @UserId INT = NULL,
    @Name nvarchar(50) = null,
    @Username nvarchar(50) = null,
    @Mobile nvarchar(50) = null,
    @Email nvarchar(50) = null,
    @Address nvarchar(max) = null,
    @PostCode nvarchar(50) = null,
    @Password nvarchar(50) = null,
    @ImageUrl varchar(max) = null
AS
BEGIN
    SET NOCOUNT ON;

    --SELECT FOR LOGIN
    IF @Action = 'SELECT4LOGIN'
    BEGIN
        SELECT * FROM dbo.Users WHERE Username = @Username and Password = @Password
    END

    --SELECT FOR USER PROFILE
    IF @Action = 'SELECT4PROFILE'
		BEGIN
		    SELECT * FROM dbo.Users WHERE UserId = @UserId
		END

    -- Insert (REGISTRATION)
    IF @Action = 'INSERT'
		BEGIN
		    Insert into dbo.Users (Name, Username, Mobile, Email, Address, PostCode, Password, ImageUrl, CreatedDate)
		    values (@Name, @Username, @Mobile, @Email, @Address, @PostCode, @Password, @ImageUrl, GETDATE())
		END
	--UPDATE USER PROFILE
	IF @Action = 'UPDATE'
		BEGIN
			DECLARE @UPDATE_IMAGE VARCHAR(20)
			SELECT @UPDATE_IMAGE = (CASE WHEN @ImageUrl IS NULL THEN 'NO' ELSE 'YES' END)
			IF @UPDATE_IMAGE = 'NO'
			    BEGIN
			        UPDATE dbo.Users
			        SET Name = @Name, Username = @Username, Mobile = @Mobile, Email = @Email, Address = @Address,
			            PostCode = @PostCode
			        WHERE UserId = @UserId
			    END
			ELSE
				BEGIN
				    UPDATE dbo.Users
				    SET Name = @Name, Username = @Username, Mobile = @Mobile, Email = @Email, Address = @Address,
						PostCode = @PostCode, ImageUrl = @ImageUrl
				    WHERE UserId = @UserId
				END
		END
	-- SELECT FOR ADMIN
	IF @Action = 'SELECT4ADMIN'
	    BEGIN
	        SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS [SrNo], UserId, Name,
	               Username, Email, CreatedDate
	        FROM Users
	    END
	
	-- DELETE BY ADMIN
	IF @Action = 'DELETE'
	    BEGIN
	        DELETE FROM dbo.Users WHERE UserId = @UserId
	    END

END
GO
